body {
  font-family: 'Source Sans Pro';
  background: linear-gradient(hotpink, white);
}
h1, h3 {
  font-family: 'Yellowtail';
  color: white;
}
#male, #female {
  display: none;
}
.fb {
  font-family: cursive;
}
